<div class="row">
    <div class="col-8">
<div class="m-5">
<div class="row">
<h1 class="col-6">Listado de facturas</h1>
</div>
<div class="row">
    <table mat-table [dataSource]="dataSource" class="col-8 mat-elevation-z8">
    
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
    
        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let element"> {{element.cliente.nombre}} </td>
        </ng-container>

        
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha</th>
            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
          </ng-container>
 
        <ng-container matColumnDef="total">
         <th mat-header-cell *matHeaderCellDef> Total gastado </th>
         <td mat-cell *matCellDef="let element"> $ {{element.total}} </td>
       </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
</div>
</div>
<div class="col-4 mt-5">
 
    
    <mat-card>
        <mat-card-title>Producto más vendido</mat-card-title>
        <mat-card-content>
            <span>{{productoMasVendido.descripcion}}</span>
        </mat-card-content>
    </mat-card>


</div>
</div>